<div class="account">
	<span ng-show="user">
		<a href="#/account" class="username">{{user.fullName}}</a> 
		<a class="logout" ng-click="tools.user.logout()" class="logout"> <i class="fa fa-sign-out"></i></a>
	</span>
</div>
<!-- <h1 id="siteTitle">{{'SITE.TITLE' | translate}}</h1> -->
<nav>
	<ul>
		<li><a href="#/home" title="">Home</a></li>
		<li><a ng-show="user" href="#/directory" title="">Directory</a></li>
		<li><a ng-show="user" href="#/tools" title="">Tools</a></li>
		<li><a ng-hide="user" ng-click="tools.user.loginModal()">Login</a></li>
	</ul>
</nav>