<div class="container" ng-controller="DirectoryCtrl">
	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="family in directory | orderBy: 'householdInfo.name'">
			<div class="thumbnail">
				<img ng-src="{{family.extra.photoUrl}}" alt="Picture of {{family.householdInfo.name}} family">
				<div class="caption">
					<h3>{{family.coupleName}}</h3>
					<ul class="list-group">
						<li class="list-group-item">{{family.headOfHousehold.name}}</li>
						<li class="list-group-item">{{family.spouse.name}}</li>
						<li class="list-group-item" ng-repeat="children in family.otherHouseholdMembers">
							{{children.name}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>