/*CUSTOM*/
html,body{
	height: 100%;
	padding: 0px;
	margin: 0px;
}
header{
	position: fixed;
	width: 100%;
}
section{
	padding: 100px 0 100px 0;
}
a{
	cursor: pointer;
}



/*CSS Overrides*/
.modal-body>img{
	max-width: 100%;
}
#map-canvas{
	width: 100%;
	height: 500px;
}